a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.masthead {
  background-size: 100%;
  background-position: 50% 50%;

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
