<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <img class="masthead-avatar mb-5" src="img/avatar.png">
    <h1 class="masthead-heading text-uppercase mb-0">math-98</h1>
    <p class="masthead-subheading font-weight-light mb-0">Web-développeur</p>

    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light js-scroll-trigger mr-1" href="#portfolio">
        <fa-icon [icon]="fasStar" class="mr-2"></fa-icon>
        Portfolio
      </a>
      <a class="btn btn-xl btn-outline-light js-scroll-trigger" href="#about">
        <fa-icon [icon]="fasCog" class="mr-2"></fa-icon>
        Compétences
      </a>
    </div>
  </div>
</header>

<app-home-portfolio></app-home-portfolio>
<app-home-skills></app-home-skills>

<footer id="contact" class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <app-title [icon]="fasGlobe" light>
          Sur l'internet mondial du web
        </app-title>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Réseaux sociaux</h4>
        <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.facebook.com/serviere.98">
          <fa-icon [icon]="fabFacebookF" [fixedWidth]="true"></fa-icon>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://twitter.com/mathieu998">
          <fa-icon [icon]="fabTwitter" [fixedWidth]="true"></fa-icon>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.linkedin.com/in/serviere98">
          <fa-icon [icon]="fabLinkedinIn" [fixedWidth]="true"></fa-icon>
        </a>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Développement</h4>
        <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://github.com/math-98">
          <fa-icon [icon]="fabGithub" [fixedWidth]="true"></fa-icon>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://gitlab.com/math-98">
          <fa-icon [icon]="fabGitlab" [fixedWidth]="true"></fa-icon>
        </a>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Gaming</h4>
        <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://steamcommunity.com/id/math98">
          <fa-icon [icon]="fabSteamSymbol" [fixedWidth]="true"></fa-icon>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://discordapp.com/channels/@me/108171124554092544">
          <fa-icon [icon]="fabDiscord" [fixedWidth]="true"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
