<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <app-title [icon]="fasStar">
      Portfolio
    </app-title>

    <ng-template [ngIf]="postCategories !== undefined">
      <div class="alert alert-danger" role="alert" *ngIf="postCategories.length == 0" style="text-align: center">
        <fa-icon [icon]="fasExclamationCircle"></fa-icon>
        Une erreur est survenue lors de la récupération du portfolio.
      </div>

      <div class="text-center mb-3" *ngIf="postCategories.length > 0">
        <button
          id="starCategoryBtn"
          type="button"
          [ngClass]="{
            'active': activeCategory == '',
            'btn': true,
            'btn-outline-primary': true
          }"
          (click)="switchActiveCategory('')"
        >
          <fa-icon [icon]="fasStar"></fa-icon>
        </button>
        <button
          type="button"
          [ngClass]="{
            'active': category == activeCategory,
            'btn': true,
            'btn-outline-primary': true,
            'ms-2': true
          }"
          *ngFor="let category of postCategories"
          (click)="switchActiveCategory(category)"
        >{{ category }}</button>
      </div>

      <div class="row">
          <div
            class="col-md-6 col-lg-4"
            *ngFor="let post of posts"
            [hidden]="!isPostVisible(post)"
          >
            <app-home-portfolio-item [post]="post"></app-home-portfolio-item>
          </div>
      </div>
    </ng-template>

    <app-loader *ngIf="posts === undefined"></app-loader>
  </div>
</section>
