<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <app-title [icon]="fasStar">
      Portfolio
    </app-title>

    <div class="row">
      <ng-template [ngIf]="posts !== undefined">
        <div class="alert alert-danger" role="alert" *ngIf="posts.length == 0" style="text-align: center">
          <fa-icon [icon]="fasExclamationCircle"></fa-icon>
          Une erreur est survenue lors de la récupération du portfolio.
        </div>

        <div class="col-md-6 col-lg-4" *ngFor="let post of posts">
          <a [routerLink]="['/portfolio/' + post.slug]" class="portfolio-item mx-auto">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white p-2">
                <strong>{{ post.title }}</strong><br/>
                {{ post.description }}
              </div>
            </div>
            <img class="img-fluid" src="{{ post.coverUrl }}" alt="{{ post.title }}">
          </a>
        </div>
      </ng-template>

      <app-loader *ngIf="posts === undefined"></app-loader>
    </div>
  </div>
</section>
