<nav class="navbar navbar-expand bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Mathieu SERVIERE</a>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="d-none d-lg-inline">Outils</span>
          <span class="d-lg-none" title="Outils">
            <fa-icon [icon]="fasScrewdriverWrench"></fa-icon>
          </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" routerLink="/passwords">
              Chiffrer un mot de passe
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<section class="copyright py-4 text-center text-white">
  <div class="container">
    <small>
      <a href="https://github.com/math-98/website-front" target="_blank">
        <fa-icon [icon]="fabGithub"></fa-icon>
        Code source
      </a><br/>
      Mathieu SERVIERE - {{ currentDate | date:'yyyy' }}<br/>
      Tous droits réservés
    </small>
  </div>
</section>
