<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Mathieu SERVIERE</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
            type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <fa-icon [icon]="fasBars"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/">
            <i class="fas fa-home"></i> Accueil
          </a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/passwords">
            <i class="fas fa-home"></i> Chiffrer un mot de passe
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<section class="copyright py-4 text-center text-white">
  <div class="container">
    <small>
      <a href="https://github.com/math-98/website-front" target="_blank">
        <fa-icon [icon]="fabGithub"></fa-icon>
        Code source
      </a><br/>
      Mathieu SERVIERE - {{ currentDate | date:'yyyy' }}<br/>
      Tous droits réservés
    </small>
  </div>
</section>

<div class="scroll-to-top d-lg-none position-fixed">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <fa-icon [icon]="fasChevronUp"></fa-icon>
  </a>
</div>
