<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <app-title [icon]="fasCog" light>
      Compétences
    </app-title>

    <div class="row">
      <ng-template [ngIf]="languages !== undefined">
        <div class="alert alert-danger" role="alert" *ngIf="languages.length == 0" style="text-align: center">
          <fa-icon [icon]="fasExclamationCircle"></fa-icon>
          Une erreur est survenue lors de la récupération des compétences.
        </div>

        <div class="col-lg-6 mb-5" *ngFor="let langElm of languages | keyvalue">
          <h1>{{ langElm.key }}</h1>

          <div class="row">
            <div class="icon" *ngFor="let language of langElm.value">
              <img src="{{ language.iconUrl }}" alt="{{ language.name }}" title="{{ language.name }}"/>
            </div>
          </div>
        </div>
      </ng-template>

      <app-loader color="light" *ngIf="languages === undefined"></app-loader>
    </div>
  </div>
</section>
