<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <app-title [icon]="fasCog" [light]="true">
      Compétences
    </app-title>

    <div class="row">
      <ng-template [ngIf]="skills !== undefined">
        <div class="alert alert-danger" role="alert" *ngIf="skills.length == 0" style="text-align: center">
          <fa-icon [icon]="fasExclamationCircle"></fa-icon>
          Une erreur est survenue lors de la récupération des compétences.
        </div>

        <div class="col-lg-6 mb-5" *ngFor="let skillCategory of skills">
          <h1>{{ skillCategory.name }}</h1>

          <div class="row">
            <a
              href="#"
              class="icon"
              (click)="openSkillModal(skill)"
              *ngFor="let skill of skillCategory.skills"
            >
              <img src="{{ skill.iconUrl }}" alt="{{ skill.name }}" title="{{ skill.name }}"/>
            </a>
          </div>
        </div>
      </ng-template>

      <app-loader color="light" *ngIf="skills === undefined"></app-loader>
    </div>
  </div>
</section>
