<app-page-head [icon]="fasKey">
  Encoder un mot de passe
</app-page-head>

<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text"
                   class="form-control mb-2"
                   name="password"
                   [(ngModel)]="password"
                   placeholder="Mot de passe"
                   autocomplete="off">

            <div class="mb-2">
              <ng-multiselect-dropdown
                [placeholder]="'Sélectionner des algorithmes'"
                [settings]="dropdownSettings"
                [data]="algorithms"
                [(ngModel)]="selectedItems"
                name="algorithms"
              ></ng-multiselect-dropdown>
            </div>

            <div class="d-grid">
              <input class="btn btn-primary text-white"
                     [disabled]="!password.length || !selectedItems.length"
                     type="submit"
                     value="Envoyer">
            </div>
          </div>
        </form>
      </div>
      <div class="col-5">
        <div class="alert alert-info">
          <h3>CMS populaires</h3>
          Le chiffrage pour divers CMS/applicatifs web a été listé

          <div class="d-grid">
            <button type="button"
                    class="btn btn-secondary mt-3"
                    data-bs-toggle="modal"
                    data-bs-target="#cmsModal">
              Ouvrir la liste
            </button>
          </div>
        </div>

        <div class="modal fade" id="cmsModal" tabindex="-1" aria-labelledby="cmsModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cmsModalLabel">CMS populaires</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
              </div>
              <div class="modal-body text-justify">
                <ul>
                  <li>FluxBB : sha1 (*)</li>
                  <li>Wordpress : md5 (*)</li>
                </ul>
                (*) : Algorithme <i>supporté</i>, le système convertis ensuite vers le bon algorithme
              </div>
              <div class="card-footer">
                <b>NB:</b> Si vous utilisez un applicatif non-listé il probable qu'il chiffre en "bcrypt"
                (le résultat est sous la forme : <code>$2y$10$<i>xxx</i></code>)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr *ngIf="hashed.length || (promises | json) != '{}'" />

    <div class="alert alert-warning" *ngIf="(promises | json) != '{}'">
      <div class="spinner-border spinner-border-sm me-2" role="status">
        <span class="sr-only">Chargement...</span>
      </div>
      <span class="align-middle">Calcul en cours</span>
    </div>

    <table *ngFor="let hashGroup of hashed" class="table table-bordered mt-3">
      <thead>
        <tr>
          <th class="text-center" colspan="3" scope="col">
            {{ hashGroup.password }}
          </th>
        </tr>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Hash</th>
          <th scope="col">Sel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hash of hashGroup.hashes">
          <td>{{ hash.name }}</td>
          <td>{{ hash.hash }}</td>
          <td>
            {{ hash.salt }}
            <i class="text-muted" *ngIf="!hash.salt">N/A</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

